
.list-group-item{
  background: none;
  color: white;
}

.spinner-grow{
  --bs-spinner-width: 0.8rem;
  --bs-spinner-height: 0.8rem;
}



.green{
  background-color: green;
}
.red{
  background-color: firebrick;
}
