<p>Networks ({{scannedNetworks?.length || 0}})</p>
<hr>
<div class="list-group">
  <a href="#"
     class="list-group-item m-0 p-0"
     *ngFor="let network of scannedNetworks"
     [class.active]="network.properties.active"
     [class.text-primary]="network.geometry && !network.properties.hacked"
     [class.text-danger]="network.geometry && network.properties.hacked"
     (click)="selectNetwork(network)">

    <fa-icon [class]="getSignalClass(network)" [icon]="faWifiStrong"></fa-icon>
    {{network.properties.ssid}}
  </a>
</div>

