.wifi_1{
  color: #ffffff;
  margin-right: 6px;
}
.wifi_2{
  color: #ffffffaa;
  margin-right: 6px;
}
.wifi_3{
  color: #ffffff77;
  margin-right: 6px;
}
.wifi_4{
  color: #ffffff44;
  margin-right: 6px;
}

.list-group-item{
  background: none;
  color: white;
}
