<mgl-map
  [style]="'mapbox://styles/budroid/cl99mugce00ds14l3cbg7tcam'"
  [zoom]="[18]"
  [maxZoom]="20"
  [minZoom]="1"
  [center]="currentLocation"
  (mapLoad)="mapLoaded($event)"
>
  <mgl-geojson-source
    id="network_locations"
    [data]="data"
  >
  </mgl-geojson-source>

  <mgl-layer
    [id]="defaultLayer.id"
    type="symbol"
    [layout]="defaultLayer.layout"
    [paint]="defaultLayer.paint"
    (layerClick)="selectNetworkFromLayer($event)"
    source="network_locations"
  >
  </mgl-layer>

  <mgl-popup [feature]="poppedUpNetwork">
    <p>{{poppedUpNetwork.properties ? poppedUpNetwork.properties['ssid'] : "Unknown ssid"}}</p>
  </mgl-popup>

  <mgl-control
    mglNavigation
    position="top-right"
  ></mgl-control>
</mgl-map>
<!---->
<app-system-pane
  *ngIf="!interactive && !scanStarted && !hackStarted"
  id="system_pane"
  class="pane"
  [currentStage]="currentStage"
  [scanStarted]="scanStarted"
  [hackStarted]="hackStarted"
  (locateEvent)="locate()">
</app-system-pane>

<!---->
<app-progress-pane
  *ngIf="!interactive && !scanStarted && !hackStarted"
  id="progress_pane"
  class="pane"
  [currentStage]="currentStage"
  [stages]="stages"
  [data]="data"
  (scanEvent)="scan()"
  (hackEvent)="hack()"
  (loadEvent)="load()">
</app-progress-pane>

<app-networklist-pane
  *ngIf="!interactive"
  id="network_pane"
  class="pane"
  [scannedNetworks]="scannedNetworks"
  (selectNetworkEvent)="selectNetwork($event)">
</app-networklist-pane>

<app-processing-pane
  *ngIf="processingData"
  id="processing_pane"
  class="pane text-center">
</app-processing-pane>

<app-interactive-pane
  *ngIf="interactive"
  id="interactive_pane"
  class="pane_inverted text-center">
</app-interactive-pane>

<div *ngIf="scanStarted || hackStarted" [@openClose]="hackStarted || scanStarted ? 'open' : 'closed'">
<app-overlay  [hackStarted]="hackStarted" (click)="hackStarted ? hack() : scan()"  style="overflow: hidden" id="overlay" ></app-overlay>
<!--<app-overlay (click)="scan()" *ngIf="hackStarted" style="overflow: hidden" id="overlay" ></app-overlay>-->
</div>
<app-network-slider
  *ngIf="currentStage > 1 && !interactive  && !hackStarted"
  id="network_slider"
  [scannedNetworks]="scannedNetworks"
  [currentStage]="currentStage"
  (startLocateEvent)="startLocate()"
  (prevEvent)="prev()"
  (nextEvent)="next()">
</app-network-slider>
