<mgl-map
  [style]="'mapbox://styles/budroid/cl99mugce00ds14l3cbg7tcam'"
  [zoom]="[19]"
  [maxZoom]="20"
  [minZoom]="1"
  [center]="currentLocation"
  (mapLoad)="mapLoaded($event)"
>
  <mgl-geojson-source
    id="network_locations"
    [data]="data"
  >
  </mgl-geojson-source>

  <mgl-layer
    [id]="defaultLayer.id"
    type="symbol"
    [layout]="defaultLayer.layout"
    [paint]="defaultLayer.paint"
    (layerClick)="selectNetworkFromLayer($event)"
    source="network_locations"
  >
  </mgl-layer>

  <mgl-popup [feature]="poppedUpNetwork">
    <p>{{poppedUpNetwork.properties ? poppedUpNetwork.properties['ssid'] : "Unknown ssid"}}</p>
  </mgl-popup>

  <mgl-control
    mglNavigation
    position="top-right"
  ></mgl-control>
</mgl-map>

<app-system-pane
  *ngIf="!interactive"
  id="system_pane"
  class="pane"
  [class.hackstage]="currentStage === 3"
  [scanStarted]="scanStarted"
  [hackStarted]="hackStarted"
  (locateEvent)="locate()">
</app-system-pane>

<app-progress-pane
  *ngIf="!interactive"
  id="progress_pane"
  class="pane"
  [class.hackstage]="currentStage === 3"
  [stages]="stages"
  (scanEvent)="scan()"
  (hackEvent)="hack()">
</app-progress-pane>

<app-sessions-pane
  *ngIf="!interactive"
  id="sessions_pane"
  class="pane"
  [class.hackstage]="currentStage === 3">
</app-sessions-pane>

<app-networklist-pane
  *ngIf="!interactive"
  id="network_pane"
  class="pane"
  [class.hackstage]="currentStage === 3"
  [scannedNetworks]="scannedNetworks"
  (selectNetworkEvent)="selectNetwork($event)">
</app-networklist-pane>

<app-processing-pane
  *ngIf="processingData"
  id="processing_pane"
  class="pane text-center">
</app-processing-pane>

<app-interactive-pane
  *ngIf="interactive"
  id="interactive_pane"
  class="pane_inverted text-center">
</app-interactive-pane>

<app-radar
  *ngIf="scanStarted"
  id="radar">
</app-radar>

<app-network-slider
  *ngIf="scanFinished && !interactive"
  id="network_slider"
  [scannedNetworks]="scannedNetworks"
  [currentStage]="currentStage"
  (startLocateEvent)="startLocate()"
  (prevEvent)="prev()"
  (nextEvent)="next()">
</app-network-slider>
