$height: 500px;
$animation-time: 4s;

.radar {
  position: relative;
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  overflow: hidden;
  background: conic-gradient(from 90deg at 50% 50%, #{var(--stage-color)} 0% 65%, #{var(--stage-color)});
  background: repeating-radial-gradient(
      transparent,
      transparent $height / 10,
      #{var(--stage-color)} $height / 10 + 5
  ),
  linear-gradient(
      transparent 49.75%,
      #{var(--stage-color-dark)} 49.75%,
      #{var(--stage-color-dark)} 50.25%,
      transparent 50.25%
  )
  50% no-repeat,
  linear-gradient(
      90deg,
      transparent 49.75%,
      #{var(--stage-color-dark)} 49.75%,
      #{var(--stage-color-dark)} 50.25%,
      transparent 50.25%
  ),
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
}

.scanner {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: conic-gradient(
      from 90deg at 50% 50%,
      rgba(0, 0, 0, 0) 0% 65%,
      #{var(--stage-color-radar)}
  );
  animation: rotation $animation-time infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
