  <p>Progress</p>

  <div class="list-group">
    <div *ngFor="let lStage of stages" class="list-group-item progress-list" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <b class="mb-1">{{lStage.name}}</b>
        <small *ngIf="lStage.completed"> <fa-icon style="color: blue" [icon]="faCircleCheck"></fa-icon></small>
      </div>
<!--      <p class="mb-1">Some placeholder content in a paragraph.</p>-->
      <small *ngIf="lStage.id === currentStage?.id">{{lStage.description}}</small>
      <button *ngIf="currentStage?.id === 1 && lStage.id === currentStage?.id" (click)="scan()" type="button" class="btn btn-primary btn-quick-scan">Scan</button>
      <button *ngIf="currentStage?.id === 3 && lStage.id === currentStage?.id" (click)="hack()" type="button" class="btn btn-danger btn-attack">Hack</button>
    </div>

  </div>


    <!--  <button type="button" class="btn btn-success btn-attack">Crack</button>-->
