  <p>Progress</p>

  <div class="list-group">
    <div *ngFor="let lStage of stages" class="list-group-item progress-list" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <b class="mb-1">{{lStage.name}}</b>
        <fa-icon class="fa-xl" *ngIf="lStage.completed" style="color: var(--stage-color)" [icon]="faCircleCheck"></fa-icon>
      </div>

      <div *ngIf="lStage.id === currentStage" class="container">
        <div class="row p-1">
          <p class="p-0">{{lStage.description}}</p>
        </div>
        <div *ngIf="currentStage === 1" class="row p-1">
          <button  (click)="scan()" type="button" class="btn btn-sm btn-outline-primary btn-actions">Scan</button>
        </div>
        <div *ngIf="currentStage === 1" class="row p-1">
          <button (click)="load()" type="button" class="btn btn-sm btn-outline-primary btn-actions">Load</button>
        </div>

        <div *ngIf="currentStage === 3" class="row p-1">
          <button (click)="hack()" type="button" class="btn btn-sm btn-outline-danger btn-actions">Attack</button>
        </div>
        <div *ngIf="currentStage === 3" class="row p-1">
          <a class="m-0 p-0" download="my-json-object.json" [href]="dataUri">
            <button type="button" class="btn btn-sm btn-outline-danger btn-actions">Download</button>
          </a>
       </div>
      </div>









    </div>

  </div>


    <!--  <button type="button" class="btn btn-success btn-attack">Crack</button>-->
